@{
    ViewData["LayoutTitle"] = "Stok Yönetimi";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li>
                <span>Stok Yönetimi</span>
            </li>

            <li><span>Index</span></li>

        </ol>
    </div>
</header>

<h2>Inventory Index</h2>