@model ResetPasswordDto
@{
    Layout = "~/Views/Account/_Layout.cshtml";
}

<div class="panel card-sign">
    <div class="card-body">
        <div class="alert alert-info">
            <p class="m-0">Şifrenizi sıfırlamak için yeni bir şifre belirleyin.</p>
        </div>

        <form id="form" asp-action="ResetPassword" method="post">
            <input type="hidden" asp-for="Email" />
            <input type="hidden" asp-for="Token" />
            <div class="form-group mb-0">
                <div class="input-group">
                    <div class="form-floating">
                        <input asp-for="Password" type="password" placeholder="Şifre" class="form-control form-control-lg" required />
                        <label for="floatingInputGroupPassword">Şifre</label>
                    </div>
                    <button class="btn btn-primary btn-lg" type="submit">Gönder</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var errorMessages = @Html.Raw(Json.Serialize(ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage).ToList()));
        if (errorMessages.length > 0) {
            var notice = new PNotify({
                text: errorMessages.join('<br>'),
                type: 'error',
                addclass: 'click-2-close',
                hide: true,
                buttons: {
                    closer: false,
                    sticker: false
                }
            });

            notice.get().click(function () {
                notice.remove();
            });
        }        
    </script>
}