@{
    ViewData["LayoutTitle"] = "Proje Yönetimi";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li>
                <span>Proje Yönetimi</span>
            </li>

            <li><span class="text-light">Teklifler</span></li>

        </ol>
    </div>
</header>

<div class="row">
    <div class="col">
        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-12 col-lg-auto mb-3 mb-lg-0">
                                <a asp-action="CreateOffer"
                                    class="btn btn-primary btn-md font-weight-semibold btn-py-2 px-4">+ Teklif Oluştur</a>
                            </div>
                            <div class="col-8 col-lg-auto ms-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <select class="form-control select-style-1 results-per-page"
                                        name="results-per-page">
                                        <option value="12" selected>12</option>
                                        <option value="24">24</option>
                                        <option value="36">36</option>
                                        <option value="100">100</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4 col-lg-auto ps-lg-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <select class="form-control select-style-1 filter-by" name="filter-by">
                                        <option value="all" selected>Tümü</option>
                                        <option value="1">ID</option>
                                        <option value="2">Name</option>
                                        <option value="3">Phone</option>
                                        <option value="4">E-mail</option>
                                        <option value="5">Orders</option>
                                        <option value="6">Total Amount</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term"
                                            id="search-term" placeholder="Proje Ara...">
                                        <button class="btn btn-default" type="submit"><i
                                                class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-ecommerce-simple table-striped mb-0" id="datatable-ecommerce-list"
                        style="min-width: 750px;">

                        <thead>
                            <tr>
                                <th width="40%">Proje Adı</th>
                                <th width="15%">Firma</th>
                                <th width="15%">Firma Yetkili</th>
                                <th width="15%">Teklif Oluşturan</th>
                                <th width="15%">Oluşturulma Tarihi</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#"><strong>John Doe</strong></a></td>
                                <td>CAD/CAM Uzmanı</td>
                                <td>555-123-4567</td>
                                <td>okler@domain.com</td>
                                <td class="d-flex justify-content-between">
                                    <span>Nov 21, 2019</span>
                                    <span class="ecommerce-status completed"></span>
                                </td>
                            </tr>                            
                        </tbody>
                    </table>
                    <hr class="solid mt-5 opacity-4">
                    <div class="datatable-footer">
                        <div class="row align-items-center justify-content-between mt-3">
                            <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                
                            </div>
                            <div class="col-lg-auto text-center order-3 order-lg-2">
                                <div class="results-info-wrapper"></div>
                            </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                <div class="pagination-wrapper"></div>
                            </div>
                        </div>
                    </div>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap5.css" />
}

@section VendorScripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
}

@section Scripts {
    <script src="~/js/examples/examples.ecommerce.datatables.list.js"></script>
}