@model TenantPlanViewModel
@{
    ViewData["LayoutTitle"] = "Plan & Abonelik";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>
</header>

<div class="alert alert-warning d-flex justify-content-between align-items-center fade show py-2" role="alert">
    <strong>Plan seçeneklerimizi keşfedin ve hemen başlayın.</strong>
    <a class="btn btn-outline-dark btn-lg d-flex align-items-center" asp-action="Plans"><i
            class="fa-regular fa-compass fa-xl me-2"></i> Keşfet</a>
</div>

<div class="row">
    <div class="col-md-3">
        <section class="card card-featured card-featured-primary mb-4">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                </div>

                <h2 class="card-title">Free</h2>
            </header>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between bg-transparent border-0 border-bottom">
                        <span>Abonelik</span><span>1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between bg-transparent border-0">
                        <span>Lisanslar</span><span>1</span>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    @foreach (var tenantPlan in Model.TenantPlanDtos)
    {
        <div class="col-md-3">
            <section class="card card-featured card-featured-dark mb-4">
                <header class="card-header">
                    <div class="card-actions">
                        <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    </div>

                    <h2 class="card-title">@tenantPlan.Plan.Name</h2>
                </header>
                <div class="card-body bg-light">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between bg-transparent border-0 border-bottom">
                            <span>Abonelik</span><span>1</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between bg-transparent border-0">
                            <span>Lisanslar</span><span>1</span>
                        </li>
                    </ul>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a class="btn btn-default">Yönet</a>
                    <div class="dropdown ms-auto">
                        <a class="btn btn-default dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false" data-bs-offset="0,5">
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Kullanıcı Ata</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    }
</div>

@section Styles {
    <style>
        .dropdown-toggle::after {
            display: none;
        }
    </style>
}