@{
    ViewData["LayoutTitle"] = "Fiyat Karşılaştırma";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li><span>Satın Alma Yönetimi</span></li>
            <li><a asp-action="MalzemeTalepleri"><span>Talepler</span></a></li>
            <li><span class="text-light">Fiyat Karşılaştırma</span></li>
        </ol>
    </div>
</header>

<div class="row">
    <section class="card">
        <div class="card-body">
            <table class="table table-responsive-md table-bordered mb-0" style="min-width: 1200px;">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th colspan="4" class="text-center">
                            <span>Özdur Cıvata</span>
                            <div class="checkbox-custom chekbox-primary d-inline ms-1">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </th>
                        <th colspan="4" class="text-center">
                            <span>Cadde Makine</span>
                            <div class="checkbox-custom chekbox-primary d-inline ms-1">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th class="text-center">Gizle</th>
                        <th>Malzeme</th>
                        <th>Özellik</th>
                        <th>Boyut</th>
                        <th>Birim Sayısı</th>
                        <th class="text-center">Birim</th>
                        <th class="text-center">Birim Fiyat</th>
                        <th class="text-center">Tutar</th>
                        <th class="text-center">Seç</th>
                        <th class="text-center">Birim</th>
                        <th class="text-center">Birim Fiyat</th>
                        <th class="text-center">Tutar</th>
                        <th class="text-center">Seç</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td>Civata</td>
                        <td>316 Paslanmaz</td>
                        <td>M6 x 30 mm</td>
                        <td>16</td>
                        <td class="bg-success text-white">5.123.,95</td>
                        <td class="bg-success text-white">#</td>
                        <td class="bg-success text-white">#</td>
                        <td class="text-center bg-success text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="text-center bg-danger text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td>Pul</td>
                        <td>Bronz</td>
                        <td>M6 x 30 mm</td>
                        <td>3</td>
                        <td class="bg-success text-white">#</td>
                        <td class="bg-success text-white">#</td>
                        <td class="bg-success text-white">#</td>
                        <td class="text-center bg-success text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="text-center bg-danger text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td>Tig Teli</td>
                        <td>303 Paslanmaz</td>
                        <td>M6 x 30 mm</td>
                        <td>26</td>
                        <td class="bg-success text-white">#</td>
                        <td class="bg-success text-white">#</td>
                        <td class="bg-success text-white">#</td>
                        <td class="text-center bg-success text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="bg-danger text-white">#</td>
                        <td class="text-center bg-danger text-white">
                            <div class="checkbox-custom chekbox-primary d-inline">
                                <input type="checkbox" name=""
                                    value="true" />
                                <label></label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Seçilen Tutar</strong></td>
                        <td colspan="4" class="text-end">0,00</td>
                        <td colspan="4" class="text-end">0,00</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Toplam</strong></td>
                        <td colspan="4" class="text-end"><strong>0,00</strong></td>
                        <td colspan="4" class="text-end"><strong>0,00</strong></td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Ödeme Vadesi</strong></td>
                        <td colspan="4" class="text-end">Fatura tarihinden itibaren 90 gün vade</td>
                        <td colspan="4" class="text-end">Fatura tarihinden itibaren 90 gün vade</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Teslim Yeri</strong></td>
                        <td colspan="4" class="text-end">Smak Makine</td>
                        <td colspan="4" class="text-end">Smak Makine</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Teslim Tarihi</strong></td>
                        <td colspan="4" class="text-end">10/07/2025</td>
                        <td colspan="4" class="text-end">10/07/2025</td>
                    </tr>
                    <tr>
                        <td colspan="5" class="text-end"><strong>Tedarikçi Notu</strong></td>
                        <td colspan="4" class="text-end"></td>
                        <td colspan="4" class="text-end"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>