@model MalzemeTalepViewModel
@{
    ViewData["LayoutTitle"] = "Malzeme Talep Oluştur";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>

    <div class="right-wrapper text-end">
        <ol class="breadcrumbs me-3">
            <li>
                <a asp-action="MalzemeTalepler"><span>Malzeme Talepler</span></a>
            </li>

            <li><span class="text-light">Malzeme Talep Oluştur</span></li>
        </ol>
    </div>
</header>

<form id="form" class="ecommerce-form action-buttons-fixed" asp-action="MalzemeTalepEkle" method="post">
    <section class="card">
        <div class="card-body">
            <table class="table table-bordered table-striped mb-0" id="datatable-editable">
                <thead>
                    <tr>
                        <th>Birim</th>
                        <th>Stok Grup</th>
                        <th>Stok</th>
                        <th>Stok Özellik</th>
                        <th>Açıklama</th>
                        <th>Boyutlar</th>
                        <th>Birimler</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
    <div class="row action-buttons">
        <div class="col-12 col-md-auto">
            <button id="addToTable"
                class="btn btn-default btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1">
                <i class="fas fa-plus me-2"></i> Satır Ekle
            </button>
        </div>
        <div class="col-12 col-md-auto order-lg-1 mt-3 mt-md-0">
            <button type="submit"
                class="submit-button btn btn-primary btn-px-4 py-3 d-flex align-items-center font-weight-semibold line-height-1"
                data-loading-text="Loading...">
                <i class="bx bx-save text-4 me-2"></i> Kaydet
            </button>
        </div>
        <div class="col-12 col-md-auto ms-lg-auto px-md-0 mt-3 mt-md-0">
            <a asp-action="MalzemeTalepler"
                class="cancel-button btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">İptal</a>
        </div>
    </div>
</form>

@section VendorStyles {
    <link rel="stylesheet" href="~/vendor/datatables/media/css/dataTables.bootstrap5.css" />
    <link rel="stylesheet" href="~/vendor/pnotify/pnotify.custom.css" />
    <style>
        table th,
        table td {
            border: none !important;
        }

        @@media only screen and (max-width: 576px) {
            table th:nth-child(1) {
                min-width: 80px !important;
            }

            table th:nth-child(2),
            table th:nth-child(3),
            table th:nth-child(4) {
                min-width: 120px !important;
            }

            table th:nth-child(5) {
                min-width: 200px !important;
            }

            table th:nth-child(6) {
                min-width: 300px !important;
            }

            table th:nth-child(7) {
                min-width: 200px !important;
            }
        }
    </style>
}

@section VendorScripts {
    <script src="~/vendor/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/media/js/dataTables.bootstrap5.min.js"></script>
    <script src="~/vendor/pnotify/pnotify.custom.js"></script>
    <script src="~/vendor/jquery-validation/jquery.validate.js"></script>
}

@section Scripts {
    <script>
        var stokGrups = @Html.Raw(Json.Serialize(Model.StokGrups));
        var stoks = @Html.Raw(Json.Serialize(Model.Stoks));
        var stokOzelliks = @Html.Raw(Json.Serialize(Model.StokOzelliks));

        (function ($) {
            "use strict";

            var EditableTable = {
                options: {
                    addButton: "#addToTable",
                    saveButton: "#saveAllRows",
                    table: "#datatable-editable",
                },

                initialize: function () {
                    this.setVars().build().events();
                    this.rowAdd();
                },

                setVars: function () {
                    this.$table = $(this.options.table);
                    this.$addButton = $(this.options.addButton);
                    return this;
                },

                build: function () {
                    this.datatable = this.$table.DataTable({
                        dom: '<"row"<"col-lg-6"><"col-lg-6">><"table-responsive"t>',
                        aoColumns: [{ width: '7%' }, { width: '10%' }, { width: '10%' }, { width: '10%' }, { width: '18%' }, { width: '24%' }, { width: '18%' }, { width: '3%' }],
                        ordering: false
                    });

                    window.dt = this.datatable;

                    return this;
                },

                events: function () {
                    var _self = this;

                    this.$table
                        .on("click", "a.cancel-row", function (e) {
                            e.preventDefault();
                            _self.rowCancel($(this).closest("tr"));
                        });

                    this.$addButton.on("click", function (e) {
                        e.preventDefault();
                        _self.rowAdd();
                    });

                    return this;
                },

                rowAdd: function () {
                    var _self = this;

                    var actions, data, $row;

                    actions = [
                        '<a href="#" class="hidden on-editing cancel-row text-danger"><i class="fas fa-trash-can fa-xl"></i></a>'
                    ].join(" ");

                    data = this.datatable.row.add(["", "", "", "", "", "", "", actions]);
                    $row = this.datatable.row(data[0]).nodes().to$();

                    $row.addClass("adding").find("td:last").addClass("actions");

                    this.rowEdit($row);

                    this.datatable.order([0, "asc"]).draw();
                },

                rowCancel: function ($row) {
                    var _self = this,
                        $actions,
                        i,
                        data;

                    if ($row.hasClass("adding")) {
                        this.rowRemove($row);
                    } else {
                        data = this.datatable.row($row.get(0)).data();
                        this.datatable.row($row.get(0)).data(data);

                        $actions = $row.find("td.actions");
                        if ($actions.get(0)) {
                            this.rowSetActionsDefault($row);
                        }

                        this.datatable.draw();
                    }
                },

                rowEdit: function ($row) {
                    var _self = this,
                        data,
                        rowIndex;

                    data = this.datatable.row($row.get(0)).data();

                    rowIndex = this.datatable.rows().count();

                    $row.children("td").each(function (i) {
                        var $this = $(this);

                        $this.addClass("align-content-center");

                        if ($this.hasClass("actions")) {
                            _self.rowSetActionsEditing($row);
                        } else {
                            var element = "";
                            var inputType = "text";
                            var inputClass = "form-control input-block";
                            var content = data[i];

                            if (i === 0) {
                                inputType = "number";
                                element =
                                    '<input name="Model[' + (rowIndex - 1) + '].Birim" type="' +
                                    inputType +
                                    '" class="' +
                                    inputClass +
                                    ' birim" value="' +
                                    1 +
                                    '" data-row-index="' + (rowIndex - 1) + '""/>';
                            } else if (i === 1) {
                                element = '<select name="Model[' + (rowIndex - 1) + '].StokGrupId" class="' + inputClass + ' stok-grup-select" data-row-index="' + (rowIndex - 1) + '">';

                                for (var j = 0; j < stokGrups.length; j++) {
                                    var stokGrup = stokGrups[j];
                                    element += "<option value='" + stokGrup.id + "'>" + stokGrup.name + "</option>";
                                }

                                element += "</select>";
                            } else if (i === 2) {
                                element = '<select name="Model[' + (rowIndex - 1) + '].StokId" class="' + inputClass + ' stok-select" data-row-index="' + (rowIndex - 1) + '">';

                                for (var j = 0; j < stoks.length; j++) {
                                    var stok = stoks[j];
                                    if (stok.stokGrupId == 1)
                                        element += "<option value='" + stok.id + "'>" + stok.name + "</option>";
                                }

                                element += "</select>";
                            } else if (i === 3) {
                                element = '<select name="Model[' + (rowIndex - 1) + '].StokOzellikId" class="' + inputClass + ' stok-ozellik-select" data-row-index="' + (rowIndex - 1) + '">';

                                for (var j = 0; j < stokOzelliks.length; j++) {
                                    var stokOzellik = stokOzelliks[j];
                                    element += "<option value='" + stokOzellik.id + "'>" + stokOzellik.name + "</option>";
                                }

                                element += "</select>";
                            } else if (i === 4) {
                                element =
                                    '<input name="Model[' + (rowIndex - 1) + '].Aciklama" type="' +
                                    inputType +
                                    '" class="' +
                                    inputClass +
                                    '" value="' +
                                    data[i] +
                                    '"/>';
                            } else if (i === 5) {
                                element = '<div class="d-flex align-items-center boyutlarDiv" data-row-index="' + (rowIndex - 1) + '">';

                                for (var j = 0; j < stoks.length; j++) {
                                    var stok = stoks[j];
                                    if (stok.id == 1) {
                                        if (stok.kutuSayisi > 0) {
                                            stok.oncul1 = stok.oncul1 || "";
                                            stok.boyut1 = stok.boyut1 || "";
                                            stok.ayrac1 = stok.ayrac1 || "";
                                            stok.oncul2 = stok.oncul2 || "";
                                            stok.boyut2 = stok.boyut2 || "";
                                            stok.ayrac2 = stok.ayrac2 || "";
                                            stok.oncul3 = stok.oncul3 || "";
                                            stok.boyut3 = stok.boyut3 || "";
                                            stok.ayrac3 = stok.ayrac3 || "";
                                            stok.oncul4 = stok.oncul4 || "";
                                            stok.boyut4 = stok.boyut4 || "";
                                            stok.ayrac4 = stok.ayrac4 || "";

                                            if (stok.kutuSayisi === 1) {
                                                element += '<span>' + stok.oncul1 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok.boyut1 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span>' + stok.ayrac1 + '</span>';
                                            } else if (stok.kutuSayisi === 2) {
                                                element += '<span>' + stok.oncul1 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok.boyut1 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac1 + '</span>';
                                                element += '<span>' + stok.oncul2 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok.boyut2 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span>' + stok.ayrac2 + '</span>';
                                            } else if (stok.kutuSayisi === 3) {
                                                element += '<span>' + stok.oncul1 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok.boyut1 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac1 + '</span>';
                                                element += '<span>' + stok.oncul2 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok.boyut2 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac2 + '</span>';
                                                element += '<span>' + stok.oncul3 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut3" type="number" step="any" class="form-control input-block boyut3" placeholder="' + stok.boyut3 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span>' + stok.ayrac3 + '</span>';
                                            } else {
                                                element += '<span>' + stok.oncul1 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok.boyut1 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac1 + '</span>';
                                                element += '<span>' + stok.oncul2 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok.boyut2 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac2 + '</span>';
                                                element += '<span>' + stok.oncul3 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut3" type="number" step="any" class="form-control input-block boyut3" placeholder="' + stok.boyut3 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span class="mx-1">' + stok.ayrac3 + '</span>';
                                                element += '<span>' + stok.oncul4 + '</span>';
                                                element += '<input name="Model[' + (rowIndex - 1) + '].Boyut4" type="number" step="any" class="form-control input-block boyut4" placeholder="' + stok.boyut4 + '" data-row-index="' + (rowIndex - 1) + '"/>';
                                                element += '<span>' + stok.ayrac4 + '</span>';
                                            }
                                        }
                                    }
                                }

                                element += '</div>';
                            } else if (i === 6) {
                                element = '<div class="d-flex align-items-center birimlerDiv" data-row-index="' + (rowIndex - 1) + '"></div>';
                            }

                            $this.html(element);
                        }
                    });
                },

                rowRemove: function ($row) {
                    if ($row.hasClass("adding")) {
                        this.$addButton.removeAttr("disabled");
                    }

                    this.datatable.row($row.get(0)).remove().draw();
                },

                rowSetActionsEditing: function ($row) {
                    $row.find(".on-editing").removeClass("hidden");
                    $row.find(".on-default").addClass("hidden");
                },

                rowSetActionsDefault: function ($row) {
                    $row.find(".on-editing").addClass("hidden");
                    $row.find(".on-default").removeClass("hidden");
                },
            };

            $(function () {
                EditableTable.initialize();
            });
        }).apply(this, [jQuery]);

        $(document).on('change', '.stok-grup-select', function () {
            var $stokGrupSelect = $(this);
            var rowIndex = $stokGrupSelect.data('row-index');

            $('.stok-select[data-row-index="' + rowIndex + '"]').empty();
            $('.boyutlarDiv[data-row-index="' + rowIndex + '"]').empty();
            $('.birimlerDiv[data-row-index="' + rowIndex + '"]').empty();

            var stoksArr = stoks.filter(function (stok) {
                return stok.stokGrupId == $stokGrupSelect.val();
            });

            for (var i = 0; i < stoksArr.length; i++) {
                var stok = stoksArr[i];
                $('.stok-select[data-row-index="' + rowIndex + '"]').append('<option value="' + stok.id + '">' + stok.name + '</option>');
            }

            $(".stok-select[data-row-index='" + rowIndex + "']").trigger('change');
        });

        $(document).on('change', '.stok-select', function () {
            var $stokSelect = $(this);
            var rowIndex = $stokSelect.data('row-index');

            $('.boyutlarDiv[data-row-index="' + rowIndex + '"]').empty();
            $('.birimlerDiv[data-row-index="' + rowIndex + '"]').empty();

            var stok = stoks.filter(function (item) {
                return item.id == $stokSelect.val();
            });

            if (stok[0].kutuSayisi > 0) {
                stok[0].oncul1 = stok[0].oncul1 || "";
                stok[0].boyut1 = stok[0].boyut1 || "";
                stok[0].ayrac1 = stok[0].ayrac1 || "";
                stok[0].oncul2 = stok[0].oncul2 || "";
                stok[0].boyut2 = stok[0].boyut2 || "";
                stok[0].ayrac2 = stok[0].ayrac2 || "";
                stok[0].oncul3 = stok[0].oncul3 || "";
                stok[0].boyut3 = stok[0].boyut3 || "";
                stok[0].ayrac3 = stok[0].ayrac3 || "";
                stok[0].oncul4 = stok[0].oncul4 || "";
                stok[0].boyut4 = stok[0].boyut4 || "";
                stok[0].ayrac4 = stok[0].ayrac4 || "";

                var element = '';

                if (stok[0].kutuSayisi === 1) {
                    element += '<span>' + stok[0].oncul1 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok[0].boyut1 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac1 + '</span>';
                } else if (stok[0].kutuSayisi === 2) {
                    element += '<span>' + stok[0].oncul1 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok[0].boyut1 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac1 + '</span>';
                    element += '<span>' + stok[0].oncul2 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok[0].boyut2 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac2 + '</span>';
                } else if (stok[0].kutuSayisi === 3) {
                    element += '<span>' + stok[0].oncul1 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok[0].boyut1 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac1 + '</span>';
                    element += '<span>' + stok[0].oncul2 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok[0].boyut2 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac2 + '</span>';
                    element += '<span>' + stok[0].oncul3 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut3" type="number" step="any" class="form-control input-block boyut3" placeholder="' + stok[0].boyut3 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac3 + '</span>';
                } else {
                    element += '<span>' + stok[0].oncul1 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut1" type="number" step="any" class="form-control input-block boyut1" placeholder="' + stok[0].boyut1 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac1 + '</span>';
                    element += '<span>' + stok[0].oncul2 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut2" type="number" step="any" class="form-control input-block boyut2" placeholder="' + stok[0].boyut2 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac2 + '</span>';
                    element += '<span>' + stok[0].oncul3 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut3" type="number" step="any" class="form-control input-block boyut3" placeholder="' + stok[0].boyut3 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac3 + '</span>';
                    element += '<span>' + stok[0].oncul4 + '</span>';
                    element += '<input name="Model[' + rowIndex + '].Boyut4" type="number" step="any" class="form-control input-block boyut4" placeholder="' + stok[0].boyut4 + '" data-row-index="' + rowIndex + '"/>';
                    element += '<span>' + stok[0].ayrac4 + '</span>';
                }

                $('.boyutlarDiv[data-row-index="' + rowIndex + '"]').append(element);
            }
        });

        $(document).on('input', '.birim, .stok-ozellik-select, .boyut1, .boyut2, .boyut3, .boyut4', function () {
            var $select = $(this);
            var rowIndex = $select.data('row-index');

            $('.birimlerDiv[data-row-index="' + rowIndex + '"]').empty();

            var kutu1 = parseFloat($('input.boyut1[data-row-index="' + rowIndex + '"]').val()) || 0;
            var kutu2 = parseFloat($('input.boyut2[data-row-index="' + rowIndex + '"]').val()) || 0;
            var kutu3 = parseFloat($('input.boyut3[data-row-index="' + rowIndex + '"]').val()) || 0;
            var kutu4 = parseFloat($('input.boyut4[data-row-index="' + rowIndex + '"]').val()) || 0;

            var stokSelect = $('select.stok-select[data-row-index="' + rowIndex + '"]').val();
            var stok = stoks.filter(function (item) {
                return item.id == stokSelect;
            });

            var stokOzellikSelect = $('select.stok-ozellik-select[data-row-index="' + rowIndex + '"]').val();
            var stokOzellik = stokOzelliks.filter(function (item) {
                return item.id == stokOzellikSelect;
            });

            var birim = $('input.birim[data-row-index="' + rowIndex + '"]').val();

            $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('<span>');

            if (stok[0].kgFormül) {
                var kgFormül = stok[0].kgFormül.replace(/Kutu1/g, kutu1).replace(/Kutu2/g, kutu2).replace(/Kutu3/g, kutu3).replace(/Kutu4/g, kutu4).replace(/OzgulAgirlik/g, stokOzellik[0].ozgulAgirlik || 1);
                var kgSonuc = eval(kgFormül + "*" + birim);
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('(' + kgSonuc.toFixed(2) + '<strong>KG</strong>)');
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('<input type="hidden" name="Model[' + rowIndex + '].Kg" value="' + kgSonuc + '"/>');
            }
            if (stok[0].m2Formül) {
                var m2Formül = stok[0].m2Formül.replace(/Kutu1/g, kutu1).replace(/Kutu2/g, kutu2).replace(/Kutu3/g, kutu3).replace(/Kutu4/g, kutu4).replace(/OzgulAgirlik/g, stokOzellik[0].ozgulAgirlik || 1);
                var m2Sonuc = eval(m2Formül + "*" + birim);
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('(' + m2Sonuc.toFixed(2) + '<strong>M2</strong>)');
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('<input type="hidden" name="Model[' + rowIndex + '].M2" value="' + m2Sonuc + '"/>');
            }
            if (stok[0].mmFormül) {
                var mmFormül = stok[0].mmFormül.replace(/Kutu1/g, kutu1).replace(/Kutu2/g, kutu2).replace(/Kutu3/g, kutu3).replace(/Kutu4/g, kutu4).replace(/OzgulAgirlik/g, stokOzellik[0].ozgulAgirlik || 1);
                var mmSonuc = eval(mmFormül + "*" + birim);
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('(' + mmSonuc.toFixed(2) + '<strong>MM</strong>)');
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('<input type="hidden" name="Model[' + rowIndex + '].Mm" value="' + mmSonuc + '"/>');
            }
            if (stok[0].mFormül) {
                var mFormül = stok[0].mFormül.replace(/Kutu1/g, kutu1).replace(/Kutu2/g, kutu2).replace(/Kutu3/g, kutu3).replace(/Kutu4/g, kutu4).replace(/OzgulAgirlik/g, stokOzellik[0].ozgulAgirlik || 1);
                var mSonuc = eval(mFormül + "*" + birim);
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('(' + mSonuc.toFixed(2) + '<strong>M</strong>)');
                $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('<input type="hidden" name="Model[' + rowIndex + '].M" value="' + mSonuc + '"/>');
            }

            $('.birimlerDiv[data-row-index="' + rowIndex + '"]').append('</span>');
        });
    </script>
}