@{
    ViewData["LayoutTitle"] = "Tanımlamalar";
}

<header class="page-header">
    <h2>@ViewData["LayoutTitle"]</h2>    
</header>

<div class="row">
    <div class="col-lg-6 col-xl-4">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fas fa-home icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <a asp-action="GenelTanimlar"><span class="text-6 text-color-dark">Genel
                                        Tanımlamalar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="col-lg-6 col-xl-4">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fas fa-users icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <span class="text-6 text-muted">İnsan Kaynakları Tanımlamalar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <div class="col-lg-6 col-xl-4 mt-lg-4 mt-xl-0">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fas fa-calculator icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <a asp-action="MuhasebeTanimlar"><span class="text-6 text-color-dark">Muhasebe
                                        Tanımlamalar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 mt-lg-4 mt-xl-0">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fas fa-boxes icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <a asp-action="StokTanimlar"><span class="text-6 text-color-dark">Stok
                                        Tanımlamalar</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @* <div class="col-lg-6 col-xl-4 mt-lg-4">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fas fa-chart-line icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <span class="text-6 text-muted">Rapor Tanımlamalar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-xl-4 mt-lg-4">
        <div class="row">
            <div class="col-lg-12 pb-2 pb-lg-0 mb-3 mb-lg-0">
                <div class="card card-modern">
                    <div class="card-body py-4">
                        <div class="row align-items-center">
                            <div class="col-md-4 text-left text-md-right pr-md-4 mt-4 mt-md-0 d-none d-md-block border-end text-center">
                                <i
                                    class="fa fa-clipboard icon icon-inline icon-xl bg-primary rounded-circle text-color-light"></i>
                            </div>
                            <div class="col-12 col-md-7 col-xl-6 text-center text-md-left mx-auto">
                                <span class="text-6 text-muted">Planlama Tanımlamalar</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
</div>