<header class="page-header">

</header>

<div class="row">
    <div class="col-lg-6">
        <section class="card">
            <header class="card-header">
                <div class="card-actions">
                    <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                    <a href="#" class="card-action card-action-dismiss" data-card-dismiss></a>
                </div>
                <h2 class="card-title">2025 Yılında Aylık Çalışan Sayısı</h2>
                <p class="card-subtitle">Bu grafik, 2025 yılı boyunca her ayın başındaki tam çalışan sayısını göstermektedir.</p>
            </header>
            <div class="card-body">
                <div class="chart chart-md" id="flotBars"></div>
                <script type="text/javascript">
                    var flotBarsData = [
                        ["Jan", 28],
                        ["Feb", 42],
                        ["Mar", 25],
                        ["Apr", 23]
                    ];
                </script>
            </div>
        </section>
    </div>
</div>

@section VendorScripts {
    <script src="~/vendor/flot/jquery.flot.js"></script>
    <script src="~/vendor/flot.tooltip/jquery.flot.tooltip.js"></script>
    <script src="~/vendor/flot/jquery.flot.categories.js"></script>
    <script src="~/vendor/flot/jquery.flot.resize.js"></script>
}

@section Scripts {
    <script src="~/js/examples/examples.charts.js"></script>
}