<header class="page-header">

</header>

<section class="body-error error-inside">
    <div class="center-error">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-error mb-3">
                    <h2 class="error-code text-dark text-center font-weight-semibold m-0">404 <i
                            class="fas fa-file"></i></h2>
                    <p class="error-explanation text-center">Üzgünüz, aradığınız sayfa bulunamadı.</p>
                </div>
            </div>
        </div>
    </div>
</section>